<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <img class="hero-image" src="images/capital_hill.jpg" alt="Capital Hill">
    <div class="invis-hero">
      <div class="updates-box">
      <img class="profile-pic" src="images/profile.JPG">
     
        <p>
          Welocome to my perosnal portfolio/remsume site. Construction is still under way, but I have uploaded some infromation for anyone intrested. In the future there will be several other pages for certifications, and projects I am doing that are ongoig and/or completed. Thank you for visiting and enjoy!
        </p>
      </div>
    </div>
    
    <div class="bio-box">
      <h2>Objective</h2>
      <br>
      <p>
        I am seeking to transition into the network and cybersecurity fields of which I am very passionate and motivated. I am looking to be a part of an environment and organization where I can continuously learn and grow in the field.
      </p>
    </div>
    <div class="bio-box">
      <h2>Education</h2>
      <br>
      <h3>2015 - Present</h3>
      <p>A.S Network Engineering (Cyberseurity Concentration) - Valencia College</p>
    </div>
    <div class="bio-box">  
      <h2>Experience</h2>
      <br>
      <h3>2021 - Present</h3>
      <h4>Utility Locator - Indian River County</h4>
      <p>
        Worked independently to make sure all Locate tickets were competed within strict deadlines. I have never had a late while also ensuring legal coverage to make sure the county was not liable.
      </p>
      <br>
      <h3>2020 - 2021</h3>
      <h4>Utility Field Technician  - Indian River County</h4>
      <p>
        Worked as part of a team to make maintain the water systems for all Indian River County as well as installing new services for all new customers in a timely manner.
      </p>
      <br>
      <h3>2018 - 2020</h3>
      <h4>Information Technology Consultant  - Bright Page Solutions LLC</h4>
      <p>
        Provided service including but not limited to the acquisition, set up, installation, and maintenance of networking equipment, and administration of Windows operating systems.
      </p>
    </div>
    <div class="bio-box">
      <h2>Skills</h2>
      <br>
      <ul>
        <li>Windows and Linux Operating Systems/Servers</li>
        <li>Network Implementation and Troubleshooting</li>
        <li>Network Security</li>
        <li>Software Applications</li>
        <li>Computer Hardware Trained</li>
      </ul>
    </div>
    {% include footer.html %}
  </body>
</html>